In [1]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: teju
Hello, teju!

In [3]:
name = input('What is your name?\n')
print ('Hi, %s.' % name)

What is your name?
riya
Hi, riya.

In [4]:
friends = ['john', 'pat', 'gary', 'michael']
for i, name in enumerate(friends):
    print ("iteration {iteration} is {name}".format(iteration=i, name=name))

iteration 0 is john
iteration 1 is pat
iteration 2 is gary
iteration 3 is michael

In [5]:
matrix_a = [[1, 2], [3, 4]]
matrix_b = [[5, 6], [7, 8]]

result = [[0, 0], [0, 0]]

for i in range(2):
    for j in range(2):
        result[i][j] = (matrix_a[i][0] * matrix_b[0][j] +
                        matrix_a[i][1] * matrix_b[1][j])

for row in result:
    print(row)

[19, 22]
[43, 50]

In [6]:
# take a 3x3 matrix
A = [[12, 7, 3],
    [4, 5, 6],
    [7, 8, 9]]

# take a 3x4 matrix
B = [[5, 8, 1, 2],
    [6, 7, 3, 0],
    [4, 5, 9, 1]]

result = [[0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]]

# iterating by row of A
for i in range(len(A)):
    # iterating by column by B
    for j in range(len(B[0])):
        # iterating by rows of B
        for k in range(len(B)):
            result[i][j] += A[i][k] * B[k][j]

for r in result:
    print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [8]:
# take a 3x3 matrix
A = [[14, 7, 1],
    [3, 5, 6],
    [7, 6, 9]]

# take a 3x4 matrix
B = [[5, 8, 1, 2],
    [7, 9, 3, 0],
    [4, 2, 7, 1]]

# result will be 3x4
result = [[sum(a * b for a, b in zip(A_row, B_col))
                        for B_col in zip(*B)]
                                for A_row in A]

for r in result:
    print(r)

[123, 177, 42, 29]
[74, 81, 60, 12]
[113, 128, 88, 23]